<ion-view title="About">
	<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <div class="card">
                	<div class="item item-divider">
						Author
					</div>
                    <div class="item item-text-wrap">
                        Jorge Hernandez Gomez
                    </div>
                    <div class="item item-divider">
						Version
					</div>
                    <div class="item item-text-wrap">
                        1.0
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
