<ion-view title="Detail">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">
        <div class="card">
            <div class="item item-calm item-avatar item-calm-white">
                <img src="img/avatars/avatar.jpg">
                <h2><b>Created by: Jorge</b></h2>
                <p>Location: {{item.location}}<p>
                <p>Date posted: {{item.post_date}}</p>
            </div>
            <div class="item item-text-wrap">
                <b>What I need: </b>
                <span>{{item.request}}</span>
            </div>
            <div class="item item-text-wrap">
                <b>What I offer: </b>
                <span>{{item.offer}}</span>
            </div>
            <div class="item item-text-wrap">
                <b>Description: </b>
                <span>{{item.offer}}</span>
            </div>
            <div class="item item-text-wrap">
                <button class="button button-calm button-block">Contact again</button>
            </div>
            <div class="item item-text-wrap">
                <button class="button button-calm button-assertive button-block">Stop contact</button>
            </div>
        </div>
    </ion-content>
</ion-view>