<ion-view title="My Profile">
	<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-clear" ng-click="edit()">Edit Profile</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-avatar">
                        <img align=center src="img/avatars/avatar.jpg"> 
                        <h2>Sacredcow</h2>
                        <p>Profile picture</p>
                    </div>
                	<div class="item item-divider">
						Name
					</div>
                    <div class="item item-text-wrap">
                        Jorge Hernandez Gomez
                    </div>
                    <div class="item item-divider">
						Email address
					</div>
                    <div class="item item-text-wrap">
                        sacredcow2.0@gmail.com
                    </div>
                    <div class="item item-divider">
                        Address
                    </div>
                    <div class="item item-text-wrap">
                        San Felipe 56, Queretaro, Qro, 76180
                    </div>
                    <div class="item item-divider">
                        Phone
                    </div>
                    <div class="item item-text-wrap">
                        +436765062949
                    </div>
                    <div class="item item-divider">
                        Country
                    </div>
                    <div class="item item-text-wrap">
                        Mexico
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
