<ion-view title="Search Header">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-search"></button>
    </ion-nav-buttons>
    <ion-content ng-controller="RottenSearchCtrl">
        <!-- RottenSearchCtrl testCtrl  -->
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper" id="search-input">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Search for X" data-ng-model="query">
            </label>
        </div>

        <div class="row responsive-sm" ng-repeat="rows in DataAPI">
            <div class="col" ng-repeat="item in rows">
                <div class="card">

                    <div class="item item-text-wrap item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="checkedData[item.API_ID]" ng-change="saveCheck()">
                        </label>
                        <h2>{{item.API_Title}}</h2>
                        <p>{{item.API_Subtext}}</p>
                    </div>

                    <a href="#/app/rotten/search-detail/{{item.API_ID}}">
                        <div class="item item-image">
                            <img ng-src="{{item.API_IMGURL}}">
                        </div>
                    </a>

                    <div class="item item-text-wrap ">
                        <p class="subdued">{{item.API_AddText}}</p>
                    </div>
                </div>
            </div>
        </div>

        <ion-infinite-scroll ng-if="hasMoreData" on-infinite="loadMore()" distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
