<ion-view title="ngCordova Features">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-search"></button>
    </ion-nav-buttons>

    <ion-content class="padding" locking="true">
        <button class="button button-full button-positive" ng-click="showSplash()">
            Show Splashscreen
        </button>
        <button class="button button-full button-positive" ng-click="checkTwitter()">
            Check if Twitter is installer
        </button>
        <button class="button button-full button-positive" ng-click="checkFacebook()">
            Check if Facebook is installer
        </button>
        <button class="button button-full button-positive" ng-click="checkWhatsapp()">
            Check if Whatsapp is installer
        </button>
        <button class="button button-full button-positive" ng-click="showRate()">
            Show Rate Me PopUp
        </button>
        <button class="button button-full button-positive" ng-click="showBarcode()">
            Barcode Scanner
        </button>

    </ion-content>

</ion-view>
