<ion-view title="Edit Swap">
    <ion-content>
        <form class="form-signin" role="form" name="regForm">
            <div class="list">
                <label class="item item-input item-input">
                    <span class="input-label">Title</span>
                    <input type="text" name="title" ng-model="swap.title" placeholder="Title">
                </label>
                <label class="item item-input item-input">
                    <span class="input-label">Request</span>
                    <input type="text" name="request" ng-model="swap.request" placeholder="Request">
                </label>
                <label class="item item-input item-input">
                    <span class="input-label">Offer</span>
                    <input type="text" name="offer" ng-model="swap.offer" placeholder="Offer">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Description</span>
                    <textarea name="description" ng-model="swap.description" placeholder="Description" rows="4" cols="10">
                    </textarea>
                </label>
                <label class="item item-input item-input">
                    <span class="input-label">Location</span>
                    <input type="text" name="location" ng-model="swap.location" placeholder="Location">

                </label>
                <label class="item item-input item-select">
                        <div class="input-label">Country</div>
                        <select ng-model="selectedCountry" ng-options="country.name for country in countries">
                        </select>
                </label>
            </div>
            <p style="color:red;" ng-show="regError">{{regErrorMessage}}</p>
            <button class="button button-block button-calm" ng-click="SignUp()" ng-disabled="!swap.title || !swap.offer || !swap.description || !swap.location || !swap.request">
                Save changes
            </button>
        </form>
    </ion-content>
</ion-view>
